h2{
    display: flex;
    justify-content: center;
    color: rgb(203, 182, 119);
    background-color: rgb(69, 0, 132);
    line-height: 50px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

h3{
    color: rgb(51, 51, 51);
}